--extra-index-url https://pypi.anaconda.org/OpenEye/simple
# Above line may be needed despite the OpenEye package not being a direct requirement of this package (it's used by rcsb.utils.chem)
rcsb.utils.chem >= 0.82
rcsb.utils.seq >= 0.84
rcsb.utils.targets >= 0.83
rcsb.utils.seqalign >= 0.31
rcsb.utils.io >= 1.49
git+https://github.com/rcsb/py-rcsb_exdb.git@ro-4643#egg=rcsb.exdb
git+https://github.com/rcsb/py-rcsb_db.git@ro-4643#egg=rcsb.db
requests >= 2.32.3
mmcif >= 0.91.0
